<!DOCTYPE html>
<html lang="en">

<body>
<div id="logo">
    <span class="big-logo">Златара</span>
</div>

<div id="main-content">
    <div id="header">
        <div class="header-left float-left">
            <i id="toggle-left-menu" class="ion-android-menu"></i>
        </div>
    </div>

    <div id="page-container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="title">Листа на категории</div>
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row d-flex">
                                        <div class="col-5">
                                            <h5>Главна категорија</h5>
                                        </div>
                                        <div class="col-7">
                                            <h5>Под категорија со патека</h5>
                                        </div>

                                        <div th:each="parentCategory : ${parentCategories}" class="row">
                                            <div class="col-4 d-flex align-items-center">
                                                <span style="font-size:25px;" th:text="${parentCategory.getName()}"></span>
                                            </div>
                                            <div class="col-8">
                                                <div class="row" th:each="category : ${categories}"
                                                     th:if="${category.getParentCategory()==parentCategory}">
                                                    <div class="col-4">
                                                        <h5 th:text="${category.getName()}"></h5>
                                                    </div>
                                                    <div class="col-4">
                                                        <h5 th:text="${'/'+category.getUrlName()}"></h5>
                                                    </div>
                                                    <div class="col-4 d-flex">
                                                        <a th:href="@{'/admin/categories?id={id}'(id=${category.getId()})}" class="btn btn-info">Измени</a>
                                                        <form method="post" th:action="@{'/categories/delete/{id}'(id=${category.getId()})}">
                                                            <td><button type="submit" class="btn btn-danger">Избриши</button></td>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="title">Додади категорија</div>
                    <div class="content">
                        <div class="container-fluid">
                            <form th:method="post" action="/categories/add">
                                <input type="hidden" name="id" th:value="${category?.id}"/>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Име на категорија</label>
                                            <input oninput="validate(this)" th:value="${category?.name}" required
                                                   type="text" name="categoryName" class="form-control">
                                        </div>
                                        <label>Изберете категорија:</label>
                                        <select required class="form-control" name="parentCategoryId"
                                                id="selectOptions">
                                            <option value="" disabled="" selected="">Изберете категорија</option>
                                            <option th:value="${parentCategory.getId()}"
                                                    th:each="parentCategory : ${parentCategories}"
                                                    th:text="${parentCategory.getName()}"></option>

                                        </select>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Url</label>
                                            <input oninput="validate(this)" th:value="${category?.urlName}" required
                                                   type="text" name="urlName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button th:text="${category!=null ? 'Зачувај промени' : 'Додади категорија'}"
                                        class="btn btn-primary" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>