<!DOCTYPE html>
<html lang="en">

<style>
    .openModal {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: cadetblue;
        cursor: pointer;
    }
</style>

<body>
<div id="logo">
    <span class="big-logo">Златара</span>

</div>
<div id="main-content">
    <div id="header">
        <div class="header-left float-left">
            <i id="toggle-left-menu" class="ion-android-menu"></i>
        </div>
    </div>

    <div id="page-container">
        <div class="card">
            <div class="content">
                <div class="card">
                    <form action=""></form>
                    <div class="title">Листа на прифатени нарачки</div>
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Клиент</th>
                                            <th>Датум</th>
                                            <th>E-меил</th>
                                            <th>Телефонски број</th>
                                            <th>Нарачка</th>
                                            <th>Вкупно</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="acceptedOrder : ${orders}">
                                            <td th:text="${acceptedOrder.order.getClientName()+' '+acceptedOrder.order.getClientSurname()}"></td>
                                            <td th:text="${acceptedOrder.order.getDateCreated()}"></td>
                                            <td th:text="${acceptedOrder.order.getEmail()}"></td>
                                            <td th:text="${acceptedOrder.order.getMobileNumber()}"></td>
                                            <td th:each="product : ${acceptedOrder.products}">
                                                <p class="openModal" th:data-id="${product.getProduct().getId()}"
                                                   th:text="${product.getProduct().getName() + ' - ' + product.getQuantity() + ' x ' + product.getProduct().calculateDiscount()}"></p>
                                            </td>
                                            <td th:text="${acceptedOrder.order.getTotalPrice()+' ден'}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div id="myModal" class="modal fade" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Детали за продукт</h5>
                                                    <button type="button" id="closeX" class="close"
                                                            data-dismiss="modal">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <img src="#" id="productImage">
                                                            </div>
                                                            <div class="col-6">
                                                                <label for="productName">Име на продукт:</label>
                                                                <p id="productName"></p>
                                                                <label for="productCode">Код на продукт:</label>
                                                                <p id="productCode"></p>
                                                                <label for="productPrice">Цена на продукт:</label>
                                                                <p id="productPrice"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="close" class="btn btn-secondary"
                                                            data-dismiss="modal">Затвори
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    $(document).ready(function () {
        $(".openModal").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "get",
                url: "/api/product/" + id,
                success: function (data) {
                    $('#productImage').attr('src', data.image)
                    $('#productImage').attr('height', '100%')
                    $('#productImage').attr('width', '100%')
                    $('#productName').text(data.name)
                    $('#productCode').text(data.code)
                    $('#productPrice').text(data.price)
                    $("#myModal").modal('show');
                }
            });
        });
    });

    $(document).ready(function () {
        $('#close').click(function () {
            $("#myModal").modal('hide');
        })
    });

    $(document).ready(function () {
        $('#closeX').click(function () {
            $("#myModal").modal('hide');
        })
    })

    $('#toggle-left-menu').click(function () {
        if ($('#left-menu').hasClass('small-left-menu')) {
            $('#left-menu').removeClass('small-left-menu');
        } else {
            $('#left-menu').addClass('small-left-menu');
        }
        $('#logo').toggleClass('small-left-menu');
        $('#page-container').toggleClass('small-left-menu');
        $('#header .header-left').toggleClass('small-left-menu');

        $('#logo .big-logo').toggle('300');
        $('#logo .small-logo').toggle('300');
        $('#logo').toggleClass('p-0 pl-1');
    });

    $(document).on('mouseover', '#left-menu.small-left-menu > ul > li', function () {
        if (!$(this).hasClass('has-sub')) {
            var label = $(this).find('span').text();
            var position = $(this).position();
            $('#show-lable').css({
                'top': position.top + 79,
                'left': position.left + 59,
                'opacity': 1,
                'visibility': 'visible'
            });

            $('#show-lable').text(label);
        } else {
            var position = $(this).position();
            $(this).find('ul').addClass('open');

            if ($(this).find('ul').hasClass('open')) {
                const height = 47;
                var count_submenu_li = $(this).find('ul > li').length;
                if (position.top >= 580) {
                    var style = {
                        'top': (position.top + 100) - (height * count_submenu_li),
                        'height': height * count_submenu_li + 'px'
                    }
                    $(this).find('ul.open').css(style);
                } else {
                    var style = {
                        'top': position.top + 79,
                        'height': height * count_submenu_li + 'px'
                    }

                    $(this).find('ul.open').css(style);
                }

            }
        }

    });

    $(document).on('mouseout', '#left-menu.small-left-menu li a', function (e) {
        $('#show-lable').css({
            'opacity': 0,
            'visibility': 'hidden'
        });
    });

    $(document).on('mouseout', '#left-menu.small-left-menu li.has-sub', function (e) {
        $(this).find('ul').css({
            'height': 0,
        });
    });

    $(window).resize(function () {
        windowResize();
    });

    $(window).on('load', function () {
        windowResize();
    });


    $('#left-menu li.has-sub > a').click(function () {
        var _this = $(this).parent();

        _this.find('ul').toggleClass('open');
        $(this).closest('li').toggleClass('rotate');

        _this.closest('#left-menu').find('.open').not(_this.find('ul')).removeClass('open');
        _this.closest('#left-menu').find('.rotate').not($(this).closest('li')).removeClass('rotate');
        _this.closest('#left-menu').find('ul').css('height', 0);

        if (_this.find('ul').hasClass('open')) {
            const height = 47;
            var count_submenu_li = _this.find('ul > li').length;
            _this.find('ul').css('height', height * count_submenu_li + 'px');
        }
    });


    function windowResize() {
        var width = $(window).width();
        if (width <= 992) {
            $('#left-menu').addClass('small-left-menu');
            $('#logo').addClass('small-left-menu p-0 pl-1');
        } else {
            $('#left-menu').removeClass('small-left-menu');
            $('#logo').removeClass('small-left-menu p-0 pl-1');
        }
    }
</script>

</html>