<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">

        function uploadFiles(fileInput, printDestination, uploadedImagesId) {
            let filesinput = document.getElementById(uploadedImagesId);
            let imageName = document.getElementById(printDestination);
            imageName.innerHTML = '';
            for (let i = 0; i < filesinput.files.length; i++){
                if(isImage(filesinput.files[i])){
                    imageName.innerHTML += filesinput.files[i].name + "<br />";
                }else{
                    filesinput.value = ""
                    imageName.innerHTML = ""
                    break;
                }
            }
        }
        const isImage = (file) => file.name.endsWith('.jpg') || file.name.endsWith('.png') || file.name.endsWith('.jpeg')
    </script>
</head>
<body>
<div id="logo">
    <span class="big-logo">Златара</span>
</div>

<div id="main-content">
    <div id="header">
        <div class="header-left float-left">
            <i id="toggle-left-menu" class="ion-android-menu"></i>
        </div>
    </div>

    <div id="page-container">
        <section class="">
            <div class="card">
                <form th:method="post" action="/products/add" enctype="multipart/form-data">
                    <div class="title">Додади Производ</div>
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <input type="hidden" name="id" th:value="${product?.id}"/>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Име на производ:</label>
                                        <input oninput="validate(this)" th:value="${product?.name}" name="name" type="text" class="form-control"
                                               required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <label for="">Изберете категорија:</label>

                                        <select required class="form-control" name="categoryId" id="selectOptions">
                                            <option th:value="${null}">Изберете категорија</option>
                                            <option th:each="category : ${categories}"
                                                    th:value="${category.id}"
                                                    th:selected="${product!=null ? category.id==product.category.id : 'false'}"
                                                    th:text="${(category.getParentCategory().name+' -  '+category.getName())}">
                                            </option>
<!--                                            productsInOrderCart-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Цена</label>
                                        <input th:value="${product?.price}" name="price" type="number"
                                               class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Опис</label>
                                        <textarea maxlength="255" oninput="validate(this)" th:text="${product?.description?.trim()}" name="description"
                                                  placeholder="Внесете опис на производот"
                                                  class="form-control">
                                       </textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Шифра</label>
                                        <input oninput="validate(this)" th:value="${product?.code}" type="text" name="code" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Попуст ( 1% - 99% )</label>
                                        <input th:value="${product!=null ? product.discountPercentage : 0}" name="discountPrice" min="0" max="99" type="number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Залиха</label>
                                        <input th:value="${product?.stocks}" name="stocks" type="number" required
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" style="display: flex;justify-content: space-evenly;">
                                        <div>
                                            <input th:checked="${product?.isOnDiscount}" type="checkbox"
                                                   name="isOnDiscount">
                                            <label>Попуст</label>
                                        </div>

                                        <div>
                                            <input th:checked="${product?.isNew}" type="checkbox" name="isNew">
                                            <label>Ново</label>
                                        </div>
                                        <div>
                                            <input th:checked="${product?.isDealOfTheDay}" type="checkbox"
                                                   name="isDealOfTheDay">
                                            <label>Deal of the day</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button th:text="${product==null ? 'Додади производ' : 'Зачувај промени' }" class="btn btn-info"
                                type="submit" style="float: right;"></button>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="slika">
                                <div class="row">
                                    <div class="col-lg-4">
                                        Иницијална слика
                                        <label>
                                            Прикачи слика<input
                                                onchange="uploadFiles(this,'initialImageName','initialPhoto')" type="file"
                                                id="initialPhoto"
                                                th:required="${product==null}"
                                                name="initialPhoto"
                                                accept="image/png, image/jpeg"/>
                                        </label>
                                        <p id="initialImageName"></p>
                                    </div>
                                    <div class="col-lg-4">
                                        Hover слика
                                        <label>
                                            Прикачи слика<input onchange="uploadFiles(this,'hoverImageName','hoverPhoto')"
                                                                type="file"
                                                                name="hoverPhoto"
                                                                id="hoverPhoto"
                                                                accept="image/png, image/jpeg"/>
                                        </label>
                                        <p id="hoverImageName"></p>
                                    </div>
                                    <div class="col-lg-4">
                                        Листа на слики
                                        <label>
                                            Прикачи слики<input onchange="uploadFiles(this,'imageNames','uploadImages')"
                                                                type="file" id="uploadImages"
                                                                multiple="multiple"
                                                                th:required="${product==null}"
                                                                name="images"
                                                                accept="image/png, image/jpeg"/>
                                        </label>
                                        <p id="imageNames"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <div class="card">

            <div class="title">Листа на производи</div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <table>
                                <thead>
                                <tr>
                                    <th>Код</th>
                                    <th>Име</th>
                                    <th>Цена</th>
                                    <th>Залиха</th>
                                    <th>Категорија</th>
                                    <th>Опис</th>
                                    <th>Акции</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="p:${products}">
                                    <td><span th:text="${p.getCode()}"></span></td>
                                    <td><span th:text="${p.getName()}"></span></td>
                                    <td><span th:text="${p.getPrice()}"></span></td>
                                    <td><span th:text="${p.getStocks()}"></span></td>
                                    <td><span th:text="${p.getCategory().getName()}"></span></td>
                                    <td><span th:text="${p.getDescription()}"></span></td>
                                    <td>
                                        <a class="btn btn-primary" th:href="@{'/admin/products?id={id}'(id=${p.getId()})}">Промени</a>
                                        <form method="post" th:action="@{'/products/delete/{id}'(id=${p.getId()})}">
                                            <button type="submit" class="btn btn-danger">Избриши</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!--<script>-->


<!--    $('#toggle-left-menu').click(function () {-->
<!--        if ($('#left-menu').hasClass('small-left-menu')) {-->
<!--            $('#left-menu').removeClass('small-left-menu');-->
<!--        } else {-->
<!--            $('#left-menu').addClass('small-left-menu');-->
<!--        }-->
<!--        $('#logo').toggleClass('small-left-menu');-->
<!--        $('#page-container').toggleClass('small-left-menu');-->
<!--        $('#header .header-left').toggleClass('small-left-menu');-->

<!--        $('#logo .big-logo').toggle('300');-->
<!--        $('#logo .small-logo').toggle('300');-->
<!--        $('#logo').toggleClass('p-0 pl-1');-->
<!--    });-->

<!--    $(document).on('mouseover', '#left-menu.small-left-menu > ul > li', function () {-->
<!--        if (!$(this).hasClass('has-sub')) {-->
<!--            var label = $(this).find('span').text();-->
<!--            var position = $(this).position();-->
<!--            $('#show-lable').css({-->
<!--                'top': position.top + 79,-->
<!--                'left': position.left + 59,-->
<!--                'opacity': 1,-->
<!--                'visibility': 'visible'-->
<!--            });-->

<!--            $('#show-lable').text(label);-->
<!--        } else {-->
<!--            var position = $(this).position();-->
<!--            $(this).find('ul').addClass('open');-->

<!--            if ($(this).find('ul').hasClass('open')) {-->
<!--                const height = 47;-->
<!--                var count_submenu_li = $(this).find('ul > li').length;-->
<!--                if (position.top >= 580) {-->
<!--                    var style = {-->
<!--                        'top': (position.top + 100) - (height * count_submenu_li),-->
<!--                        'height': height * count_submenu_li + 'px'-->
<!--                    }-->
<!--                    $(this).find('ul.open').css(style);-->
<!--                } else {-->
<!--                    var style = {-->
<!--                        'top': position.top + 79,-->
<!--                        'height': height * count_submenu_li + 'px'-->
<!--                    }-->

<!--                    $(this).find('ul.open').css(style);-->
<!--                }-->

<!--            }-->
<!--        }-->

<!--    });-->

<!--    $(document).on('mouseout', '#left-menu.small-left-menu li a', function (e) {-->
<!--        $('#show-lable').css({-->
<!--            'opacity': 0,-->
<!--            'visibility': 'hidden'-->
<!--        });-->
<!--    });-->

<!--    $(document).on('mouseout', '#left-menu.small-left-menu li.has-sub', function (e) {-->
<!--        $(this).find('ul').css({-->
<!--            'height': 0,-->
<!--        });-->
<!--    });-->

<!--    $(window).resize(function () {-->
<!--        windowResize();-->
<!--    });-->

<!--    $(window).on('load', function () {-->
<!--        windowResize();-->
<!--    });-->


<!--    $('#left-menu li.has-sub > a').click(function () {-->
<!--        var _this = $(this).parent();-->

<!--        _this.find('ul').toggleClass('open');-->
<!--        $(this).closest('li').toggleClass('rotate');-->

<!--        _this.closest('#left-menu').find('.open').not(_this.find('ul')).removeClass('open');-->
<!--        _this.closest('#left-menu').find('.rotate').not($(this).closest('li')).removeClass('rotate');-->
<!--        _this.closest('#left-menu').find('ul').css('height', 0);-->

<!--        if (_this.find('ul').hasClass('open')) {-->
<!--            const height = 47;-->
<!--            var count_submenu_li = _this.find('ul > li').length;-->
<!--            _this.find('ul').css('height', height * count_submenu_li + 'px');-->
<!--        }-->
<!--    });-->


<!--    function windowResize() {-->
<!--        var width = $(window).width();-->
<!--        if (width <= 992) {-->
<!--            $('#left-menu').addClass('small-left-menu');-->
<!--            $('#logo').addClass('small-left-menu p-0 pl-1');-->
<!--        } else {-->
<!--            $('#left-menu').removeClass('small-left-menu');-->
<!--            $('#logo').removeClass('small-left-menu p-0 pl-1');-->
<!--        }-->
<!--    }-->
<!--</script>-->

</html>