<!DOCTYPE html>
<html lang="en">
<head>
    <!--    scriptive ne mi gi cita na master template, za slider logoa se, neka sedat tuka momentalno-->



</head>
<body class="relative">

<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>
<div th:if="${dealOfTheDayProducts.size()!=0}" id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h1>Понуда на денот</h1>
                <p>Проверете ги следните продукти по неверојатна цена</p>
                <div class="deal-of-the-day-products">
                    <a th:href="@{'/proizvodi/{id}'(id=${product.getId()})}"
                       style="padding:10px; border:1px solid gold; border-radius:10px;"
                       th:each="product : ${dealOfTheDayProducts}">
                        <img height="150" width="150" th:src="*{product.getInitialPhotoEncoded()}"/>
                        <div>
                            <h6 th:text="${product.getName()}"></h6>
                            <div style="display:flex; justify-content: center;">
                                <del  th:if="${product.isOnDiscount}">
                                    <p th:text="${product.getPriceAsNumber()+' ден.'}"></p>
                                </del>
                                <p style="font-weight: 600;margin-left:10px;" th:text="${product.calculateDiscountPrice()+' ден.'}"></p>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<main class="main-wrapper">
    <div class="content-wrapper oh">
        <!-- Hero Slider -->
        <section class="hero-wrap text-center relative">
            <div id="owl-hero" class="owl-carousel owl-theme light-arrows slider-animated">
                <div class="hero-slide overlay" th:style="'background-image:url(/assets/banner2.jpg)'">
                    <div class="container">
                        <div class="hero-holder">
                            <div class="hero-message">
                                <h1 class="hero-title nocaps">Златара АНИ</h1>
                                <h2 class="hero-subtitle lines">Најдоброто од злато и накит</h2>
                                <div class="buttons-holder">
                                    <a href="/dzoke1" class="btn btn-lg btn-transparent"><span>Види повеќе</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-slide overlay" th:style="'background-image:url(/assets/banner1.jpg)'">
                    <div class="container">
                        <div class="hero-holder">
                            <div class="hero-message">
                                <h1 class="hero-title nocaps">Ексклузивни продукти</h1>
                                <h2 class="hero-subtitle lines">Проверете го нашиот каталог</h2>
                                <div class="buttons-holder">

                                    <a href="/dzoke1" class="btn btn-lg btn-transparent"><span>Провери каталог</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-slide overlay" th:style="'background-image:url(/assets/banner3.jpg)'">
                    <div class="container">
                        <div class="hero-holder">
                            <div class="hero-message">
                                <h1 class="hero-title nocaps">Уживајте во онлајн шопинг</h1>
                                <h2 class="hero-subtitle lines">Имаме прекрасен избор</h2>
                                <div class="buttons-holder">
                                    <a href="/dzoke1" class="btn btn-lg btn-transparent"><span>Види повеќе</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- end hero slider -->

        <!-- Promo Banners -->
        <section class="section-wrap promo-banners pb-30">
            <div class="container">
                <div class="row">

                    <div class="col-xs-4 col-xxs-12 mb-30 promo-banner">
                        <a href="/kategorii/produkti/zenski">
                            <img src="/assets/img/shop/collection_2.jpg" width="360" height="620" alt="">
                            <div class="overlay"></div>
                            <div class="promo-inner valign">
                                <h2>Женски</h2>
                                <span>Најпродавани зделки</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-4 col-xxs-12 mb-30 promo-banner">
                        <a href="/kategorii/produkti/detski">
                            <img src="/assets/img/shop/collection_3.jpg" width="360" height="620" alt="">
                            <div class="overlay"></div>
                            <div class="promo-inner valign">
                                <h2>Детски</h2>
                                <span>Топ Трендови</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-4 col-xxs-12 mb-30 promo-banner">
                        <a href="/kategorii/produkti/maski">
                            <img src="/assets/img/shop/collection_1.jpg" width="360" height="620" alt="">
                            <div class="overlay"></div>
                            <div class="promo-inner valign">
                                <h2>Машки</h2>
                                <span>Нова Колекција</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section> <!-- end promo banners -->


        <!-- Trendy Products -->
        <section class="section-wrap-sm new-arrivals pb-50" th:if="${discountProducts.size() != 0}">
            <div class="container">

                <div class="row heading-row">
                    <div class="col-md-12 text-center">
                        <h2 class="heading bottom-line">
                            Производи на попуст
                        </h2>
                    </div>
                </div>
                <!--                <div class="wrapper">-->
                <!--                    <div class="box">-->
                <!--                        <div class="circle">-->
                <!--                            <span class="circle__content">20%</span>-->
                <!--                        </div>-->
                <!--                    </div>-->

                <!--                </div>-->

                <div class="row">
                    <div id="owl-related-items" class="owl-carousel owl-theme">
                        <div th:each="p : ${discountProducts}" class="product">
                            <div th:if="${p.stocks>0}" class="circle">
                                <span style="font-size:17px;" class="circle__content"
                                      th:text="${'-'+p.discountPercentage+'%'}"></span>
                            </div>
                            <div class="product-item hover-trigger">
                                <div class="product-img">
                                    <a th:href="@{'/products/{id}'(id=${p.getId()})}" style="position: relative;">
                                        <img onmouseenter="mouseEnter(this)" onmouseleave="mouseLeave(this)"
                                             th:src="*{p.getInitialPhotoEncoded()}"
                                             alt=""
                                             th:class="${p.getHoverPhoto()!=null} ? 'front-image' : ''"/>
                                        <img style="position: absolute;top:0;left:0;z-index: -1"
                                             th:if="${p.getHoverPhoto()!=null}"
                                             th:src="*{p.getHoverPhotoEncoded()}"
                                             alt=""/>
                                    </a>
                                    <div th:if="${p.isNew && p.stocks!=0}" class="product-label">
                                        <span class="sale">НОВО</span>
                                    </div>
                                    <div th:if="${p.stocks<=0}" class="product-label">
                                        <span class="out-of-stock">НЕМА НА ЗАЛИХА</span>
                                    </div>
                                    <a th:href="@{'/products/{id}'(id=${p.getId()})}" class="product-quickview"></a>
                                </div>
                                <div class="product-details">
                                    <h3 class="product-title">
                                        <a th:text="${p.getName()}" href="shop-single.html"></a>
                                    </h3>
                                    <span class="category">
                                        <a th:text="${p.getCategory().getName()}"
                                           href="catalogue-grid.html"></a>
                                    </span>
                                </div>

                                <span class="price">
                                    <del th:if="${p.isOnDiscount}">
                                        <span th:text="${p.getPriceAsNumber()+' ден'}"></span>
                                    </del>
                                    <ins>
                                    <span th:text="${(p.isOnDiscount ? p.calculateDiscountPrice(): p.getPriceAsNumber())+' ден'}"
                                          class="amount"></span>
                                    </ins>
                  </span>
                            </div>
                        </div>

                    </div> <!-- end slider -->

                </div>
                <section class="brands-bar mt-50">
                    <div class="container">
                        <div class="row middle-xs center-xs " style="padding-bottom: 30px;">
                            <div class="row heading-row">
                                <div class="col-md-12 text-center">
                                    <!--                            <span class="subheading">Hot items of this year</span>-->
                                    <h2 class="heading bottom-line">
                                        Нашите брендови на часовници
                                    </h2>
                                </div>
                            </div>
                            <div class="row" style="display:flex;">
                                <div class="col-3">
                                    <img style="width:100%" class="img img-responsive"
                                         th:src="@{/assets/img/casiologo.png}">
                                </div>
                                <div class="col-3">
                                    <img style="width:100%" class="img img-responsive"
                                         th:src="@{/assets/img/danielcleinlogo.png}">
                                </div>
                                <div class="col-3">
                                    <img style="width:100%" class="img img-responsive"
                                         th:src="@{/assets/img/espritlogo.png}">
                                </div>
                                <div class="col-3">
                                    <img style="width:100%" class="img img-responsive"
                                         th:src="@{/assets/img/obakulogo.png}">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Testimonials -->

            </div>
        </section>
        <!-- end trendy products -->

        <section class="information">
            <div class="container">

                <div class="row" style="justify-content:center">
                    <div class="col-xs-12 col-sm-4 inform">
                        <i class="fa fa-truck" style="color: white;font-size: 4rem;" aria-hidden="true"></i>
                        <h5><small style="color: white;">Достава низ Целa Македонија </small></h5>
                        <p class="whites">Достава низ цела Македонија </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 inform">
                        <i class="fa fa-trophy" style="color: white;font-size: 4rem;" aria-hidden="true"></i>
                        <h5><small style="color: white;">Светски Бренд</small></h5>
                        <p class="whites">Производство и продажба на накит со врвен квалитет </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 inform">
                        <i class="fa fa-globe" style="color: white;font-size: 4rem;" aria-hidden="true"></i>
                        </i>
                        <h5><small style="color: white;">Безбедно Плаќање</small></h5>
                        <p class="whites">Плаќањето се врши на безбеден начин со сигурна достава. </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Newsletter -->
    </div> <!-- end content wrapper -->
</main> <!-- end main wrapper -->
<!-- jQuery Scripts -->
<script>
    $(document).ready(function () {
        $('#myModal').modal('show');
    });
</script>
</body>
</html>