
<style>
    p{
        text-align: left;
    }
    ul{
        list-style: none;
        padding-left: 0%;
    }
</style>

<div class="main-content main-content-2">
    <section class="section">
        <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
        <div class="container politic-cookie">
            <div class="ps-blog">
                <div class="ps-blog__posts">
                    <article class="ps-post--primary">
                        <div class="ps-post__content">
                            <h4 class="ps-post__title" style="text-align: center;padding-top: 20px;">Политика на приватност </h4>
                        </div>
                    </article>
                </div>

                <div class="ps-post--single">
                    <div class="ps-post__content">
                        <div class="ps-content">
                            <br>
                            <p class="bolding">Политиката за заштита на лични податоци ги содржи практиките за
                                приватност на интернет
                                страната на ЗЛАТАРА АНИ и објаснува како ЗЛАТАРА АНИ ги користи вашите податоци, а се
                                однесуваат на нашиот интернет страна <a
                                        href="www.zlataraAni.com.mk">www.zlataraAni.com.mk</a> , електронските услуги, нашите
                                социјални мрежи и испратените електронски пораки од нас. Со Политиката за заштита на
                                личните
                                податоци се уредува начинот на кој <strong> Друштвото за трговија, производство, услуги,
                                    шпедиција
                                    увоз-извоз ЗЛАТАРА АНИ Кадино, Илинден</strong> (понатаму <strong> “Контролор/от”
                                </strong> или
                                “,<strong>ЗЛАТАРА АНИ</strong> ”) ги собира, користи и обработува податоците собрани од
                                Вас како субјекти
                                на лични податоци (понатаму “<strong> Вие </strong>”, “ <strong>Субјект/те</strong> ”
                                или “ <strong>Корисници/те</strong> ”) при посета на интернет
                                страницата <a href="www.zlataraAni.com.mk">www.zlataraAni.com.mk</a> , (понатаму: “
                                <strong>Интернет страница/та</strong> ”).
                            </p>
                            <br>
                            <p>Со пристапот на интернет страницата на ЗЛАТАРА АНИ, потврдувате дека сте ги прочитале,
                                разбрале и дека се согласувате на условите на Политиката за приватност. Прибирањето и
                                обработката на личните податоци на нашата интернет страна е во согласност со прописите
                                за
                                заштита на лични податоци
                            </p>
                            <br>
                            <p class="ps-highlight">Tерминологија
                            </p>
                            <br>
                            <p>Пред да пристапите кон Политика за приватност, запознајте се со најчесто користените
                                термини во
                                рамки на истата</p>
                            <br>
                            <ul>
                                <li>
                                    <strong>Закон за заштита на личните податоци</strong> е законот објавен во Службен
                                    Весник на
                                    Република
                                    Северна Македонија бр. 42/2020 којшто се применува на обработката на личните
                                    податоци
                                    собрани и со посета на нашата интернет страна.
                                </li>
                                <li>
                                    <strong>Податоци од паметни уреди</strong>, се однесуваат на податоци од уред кој
                                    го користите за да
                                    пристапите кон оваа или кога ја користите интернет странава, како што е тип на
                                    оперативен
                                    систем или тип на мобилен уред, тип на пребарувач, домеин, јазик кој го користи
                                    Вашиот
                                    систем, држава и временска зона на вашиот уред, гео локација и софтвер на Вашиот
                                    уред.
                                </li>
                                <li>
                                    <strong> Не-лични податоци</strong>, се однесуваат на податоци кои сами по себе не
                                    може да Ве
                                    идентификуваат, Тука спаѓаат Колачињата и Податоците од паметни уреди.
                                </li>
                                <li>
                                    <strong> Друштвени јавни области</strong>, се однесува збирно на сите наши профили
                                    и на социјалните
                                    мрежи, форуми, теми за дискусија и коментари на понудите и други методи на
                                    комуникација
                                    кои може да будат овозможени или поврзани преку нашата интернет страна.
                                </li>
                                <li>
                                    <strong> Колаче</strong>, значи мал текстуален податок кој е складиран на
                                    компјутерот на корисникот
                                    за
                                    целите за чување на податоци кои содржат податоци за тој корисник.
                                </li>
                                <li>
                                    <strong>Бизнис Провајдери</strong> , се однесува на трети страни кои реализираат
                                    договорни обврски
                                    во име
                                    на ЗЛАТАРА АНИ, како на пример комуникациски сервиси, маркетинг, процесирање на
                                    податоци и аналитика, платформи за рекламирање или информациско-технолошки услуги и
                                    сл.
                                </li>
                                <li>
                                    <strong>Бизнис Соработници</strong> , се однесува на трети страни со кои Златара Ани
                                    АД соработува
                                    како
                                    што се маркетинг агенции, дистрибутери и сл.
                                </li>
                            </ul>
                            <br>
                            <p> Политиката за заштита на лични податоци на Контролорот ЗЛАТАРА АНИ е организирана на
                                следниот начин:
                            </p>
                            <p class="ps-highlight">1. Видови податоци кои ги собираме</p>

                            <br>
                            <p>При посетата на интернет страницата се собираат и обработуваат Вашите лични податоци кои
                                доброволно ги оставате при оставање на Ваш коментар или поставување на прашање на
                                Интернет
                                страницата. Доколку преземете било кое од овие дејствија се подразбира дека ја имате
                                дадено
                                Вашата согласност за обработка на личните податоци за целите кои ги доставувате, а како
                                што
                                веднаш, при самото пристапување на нашата интернет страна се појавува прозорец за давање
                                на
                                согласност. </p>
                            <br>
                            <p><strong>Лични податоци.</strong> Лични податоци се податоци кои идентификуваат одреден
                                краен корисник.
                                Кога ќе се вклучите на нашата интернет страна при оставање на коментар или поставување
                                на
                                прашање ЗЛАТАРА АНИ ги обработува Вашите податоци и тоа: (а.) Име; (б.) Презиме; (в.)
                                Адреса на е-пошта; (г.) Телефон</p>
                            <p class="ps-highlight">2. Избор на корисникот за зачувување и употреба на податоци
                            </p>
                            <br>
                            <p>
                                Податоците кои ги добиваме од Вас, пред се ги користиме со добра намера и цели за да го
                                подобриме вашето искуство, за таа цел Вие секогаш можете да одберете да не давате
                                податоци или
                                да ограничите кои податоци ги давате, како и да ја ограничите комуникацијата која
                                Златара Ани
                                АД ја има со Вас
                            </p>
                            <p class="ps-highlight">3. Начин на користење на Вашите податоци
                            </p>
                            <br>
                            <p class="ps-highlight">3.1 Вашите лични податоци можеме да ги користиме за следните цели:
                            </p>
                            <p> Преработка, администрирање и подобрување на нашата Интернет страна и простории и други
                                аспекти на начинот на кој ги спроведуваме нашите операции;</p> <br>

                            <p>  За управување, развивање и унапредување на нашето работење и особено нашиот однос со
                                организацијата што ја претставувате (доколку претставувате таква) и трансакциите
                                поврзани со ова; и </p>
                            <br>
                            <p> За заштита на нашиот бизнис од измама, перење пари, прекршување на довербата,
                                сајбер-напад, кражба на патентирани материјали и други финансиски или деловни
                                криминали.;</p>
                            <br>

                            <p class="ps-highlight">3.2 Повремено користење на Вашите лични податоци</p>
                            <br>
                            <p>Вашите податоци ќе ги обработиме само до потребниот степен со цел да можеме да ги
                                исполниме целите опишани погоре, а потоа само таму каде што ќе процениме дека нашата
                                обработка нема да Ви наштети на Вас или Вашата приватност на начин кој ќе го надмине
                                нашиот легитимен интерес во спроведувањето на тие цели. </p><br>

                            <p class="ps-highlight">4. Начин на обработка на Вашите лични податоци и рокови на чување
                                на Вашите податоци</p> <br>

                            <p>Вашите податоци нема да бидат обработувани за ниту едена друга цел, освен за целта заради
                                која се собрани. Собраните лични податоци се обработуваат механички и/или електронски,
                                исклучиво од страна на лица вработени/ангажирани од Контролорот коишто имаат пристап до
                                истите и кои се авторизирани и овластени да извршуваат анализи, како и со почитување на
                                начелата на обработка на личните податоци согласно со Законот за заштита на личните
                                податоци.

                            </p><br>



                            <p>Обработката на Вашите лични податоци ЗЛАТАРА АНИ ја врши согласно прописите за заштита
                                на лични податоци на Република Северна Македонија, преземајќи ги сите пропишани технички
                                и организациони мерки за обезбедување на тајноста и заштита при обработка на личните
                                податоци со кои располага.
                            </p>
                            <p>Дополнително, ЗЛАТАРА АНИ применува сигурносни мерки при прибирање, чување и процесирање
                                на информациите заради заштита од неавторизиран пристап, промена, откривање или
                                уништување на Вашите лични податоци како и податоци што не се лични, а се складирани на
                                вашата страна.
                            </p>


                            <br>
                            <p> Вашите лични податоци може да бидат доставени само на надлежните органи, согласно со
                                законски предвидената постапка.
                            </p>
                            <br>

                            <p>
                                Доколку одлучите да ја повлечете Вашата согласност за обработка на Вашите лични
                                податоци, Вашите лични податоци ќе бидат избришани, освен личните податоци за кои
                                ЗЛАТАРА АНИ има законска обврска да ги чува во законски определен рок согласно со
                                Законот за архивски материјал или друг применлив закон.
                            </p>

                            <br>
                            <p>Личните податоци при оставање на Ваш коментар или поставување на прашање преку Интернет
                                страната, ЗЛАТАРА АНИ ги обработува се до повлекување на согласноста, односно до
                                моментот кога ќе одлучите да го избришете Вашиот коментар односно прашање или ќе
                                побарате ние тоа да го сториме за Вас.
                            </p>
                            <br>
                            <p>Личните податоци во рамки на сметководствените документи, вклучувајќи договори,
                                комуникација и деловна кореспонденција, ЗЛАТАРА АНИ ќе ги чува не повеќе од рокот
                                определен за чување на истите, согласни применливи закони.
                            </p>
                            <br>
                            <p class="ps-highlight">5. Кога и како ЗЛАТАРА АНИ открива податоци </p><br>
                            <p>Ние нема да ги споделиме, односно направиме достапни вашите лични податоци на други лица,
                                освен во некои од случаите кои се предвидени со оваа Политика на приватност.
                            </p>
                            <br>
                            <p>Имено, ние можеме да ги споделуваме Вашите податоци со овластени трети лица – Бизнис
                                Провајдери. Овие “трети лица – Бизнис Провајдери” извршуваат функции во наше име, како
                                испраќање и дистрибуција на нашите административни и промотивни пораки. Ние можеме да ги
                                споделуваме Вашите лични податоци со такви провајдери за администрирање на натпревари
                                или
                                игри, отстранување на повторувачки податоци за клиентот, анализирање на податоци, давање
                                маркетиншка помош, обезбедување на резултати од пребарувања и линкови, работење на
                                интернет
                                страната или за обезбедување служба за корисници.
                            </p>
                            <br>
                            <p>
                                Ние можеме да ги споделуваме вашите податоци за наша заштита и заштита на други. Ние го
                                задржуваме правото да ги откриеме Вашите лични податоци ако тоа се бара со закон и кога
                                веруваме дека откривањето е неопходно да ги заштитиме нашите права и/или во согласност
                                со
                                судска постапка, судски налог или правен процес во врска со нашата интернет страница.
                            </p>
                            <br>
                            <p>
                                Ние можеме да ги откриваме или споделуваме Вашите Не-лични податоци со бизнис
                                соработниците.
                            </p>



                            <br>
                            <p class="ps-highlight">
                                6. Како ЗЛАТАРА АНИ ги собира податоците</p>

                            <br>
                            <p>Вие ни ги оставате Вашите податоци кога оставате коментар или поставувате прашање на
                                нашата
                                интернет страница. Исто така собираме податоци и кога не контактирате онлајн преку
                                електронската пошта за корисничка поддршка или кога оставате коментари во друштвените
                                јавни
                                области
                            </p>
                            <br>
                            <p>Еден таков начин на собирање податоци е преку Колачиња (анг. Cookies). За да се олесни и
                                прилагоди Вашето искуство со интернет страницата, ние зачувуваме колачиња на вашиот
                                компјутер (како што се: Името на пребарувачот на интернет; Типот на компјутерот;
                                Технички
                                информации за конекцијата што ја користите при посета на интернет страната како што се
                                оперативен систем и давателот на интернет-услугата; IP (интернет протокол) адреси кои се
                                доделуваат од страна на давателот на интернет-услугата и се различни за секој корисник.)


                            </p>
                            <br>
                            <p>Ние користиме колачиња додека ја користите нашата интернет страница со цел да ви
                                заштедиме
                                време и да ги следиме интересите на целните корисници за да обезбедиме
                                специјално-прилагодено
                                искуство. Колачињата исто така овозможуваат да се соберат не-лични податоци од Вас, како
                                што
                                се страниците кои сте ги посетиле и линкови кои сте ги кликнале.
                            </p>
                            <br>
                            <p>
                                Собирањето и обработката на овие податоци се врши со Ваша согласност и прифаќање на
                                нашата
                                алатка за “Колачиња”. За повеќе детали Ве молиме прочитајте ја Политиката за користење
                                на
                                колачиња. Ние ги користиме вашите лични податоци за да Ви обезбедиме информации за
                                производи, да го подобриме работењето на интернет страната, да ги подобриме нашите
                                маркетиншки и промотивни напори, да ја анализираме корисноста на интернет страната, да
                                ги
                                подобриме нашите понуди за производи како што е предвидено во оваа Политика за заштита
                                на
                                лични податоци
                            </p>
                            <br>
                            <p class="ps-highlight">7. Безбедност на податоците
                            </p>
                            <br>
                            <p>Ние сериозно ја сфаќаме безбедноста и преземаме мерки на претпазливост со цел да се
                                заштити
                                безбедноста на вашите лични податоци. Се користи HTTPS безбедносен протокол при
                                обработка и
                                пренос на информации до нашите сервери. Со користење на Secure Socket Layer (SSL)
                                технологијата шифрираме одредени податоци, за да се осигураме дека Вашите лични податоци
                                се
                                безбедни како што се пренесуваат на нашите сервери.
                            </p>
                            <br>

                            <p class="ps-highlight">8. Пристап и промена на Вашите податоци
                            </p>
                            <br>
                            <p>
                                Можете да пристапите, да ги промените или избришете податоците кои сте ги оставиле преку
                                оставање на коментар или поставување на прашање на нашата интернет страна.
                            </p>
                            <br>


                            <p class="ps-highlight">9. Друштвено јавни области </p>
                            <br>
                            <p>Интернет страната може да содржи делови каде што можете јавно да споделите информации, да
                                комуницирате со други лица, како што се форумите за дискусија и блогови. ЗЛАТАРА АНИ Ви
                                нуди можност да пристапите до понудите кои ги има за Вас не само преку интернет страната
                                <a href="www.zlataraAni.com.mk">www.zlataraAni.com.mk</a> туку и преку профилите на
                                социјалните мрежи како што се Instagram
                                ( <a
                                        href="https://www.instagram.com/zlataraAni/">https://www.instagram.com/zlataraAni/</a>
                                ), Facebook <a
                                        href="https://mk-mk.facebook.com/zlataraAni">(https://mk-mk.facebook.com/zlataraAni /
                                    )</a> и Twitter
                                <a href="https://twitter.com/zlataraAniAD">(https://twitter.com/zlataraAniAD)</a> . На
                                именуваните страни Вие можете да се вклучите во
                                социјалните дебати, да го изразите вашето сопствено мислење и искуство, преку
                                корисничкиот
                                профил којшто го имате креирано на Facebook, Instagram и Twitter. Ние немаме контрола
                                над тоа
                                кој го чита вашиот коментар или објава или она што другите корисници можат да го сторат
                                со
                                Вашите податоците, па затоа Ве молиме да бидете претпазливи при објавувањето на било
                                какви
                                лични податоци.
                            </p>
                            <br>
                            <p>ЗЛАТАРА АНИ им дава можност на корисниците на социјалните мрежи да имаат интеракција со
                                пријателите и да споделуваат информации на своите профили на социјалните мрежи.
                            </p>
                            <br>
                            <p class="ps-highlight">10. Приватност на трети лица</p>
                            <br>
                            <p>Оваа политика за заштита на лични податоци се однесува на користењето и откривањето на
                                податоците кои ние ги собираме од Вас на www.zlataraAni.com.mk. Други интернет страници
                                до
                                кои може да пристапите преку линкови од нашата интернет страна може да имаат сопствена
                                политика за заштита на личните податоци, собирање на податоци, нивна употреба и практики
                                на
                                откривање на податоците. Доколку преку линк од нашата интернет страна пристапите до
                                друга
                                интернет страна Ве повикуваме да ги видите политиките за заштита на лични податоци на
                                таа
                                интернет страна. Ние не сме одговорни за политиките или практиките на трети лица.
                            </p>
                            <br>


                            <p class="ps-highlight">11. Давање на користење и меѓународен пренос на вашите податоци
                            </p>
                            <br>
                            <p>Вашите лични податоци можеме да ги дадеме на користење само доколку сме добиле ваша
                                согласност за истото или онаму каде што е разумно неопходно на остварување на некоја од
                                целите
                                наведени погоре во делот “Начин на користење на Вашите лични податоци”
                            </p>
                            <br>
                            <p class="ps-highlight">12. Чување и уништување на Вашите податоци </p>
                            <br>
                            <p>Вашите лични податоци ги чуваме точни и ажурирани и кога веќе нема да ни бидат потребни,
                                податоците што ги имаме за вас се уништуваат.</p>
                            <br>
                            <p>
                                Вашите лични податоци, во зависност од нивната природа и цел на обработка, се чуваат во
                                согласност со Политиката за чување на лични податоци. Доколку сакате да дознаете повеќе
                                во
                                врска со ова, контактирајте не за повеќе информации.
                            </p>
                            <br>
                            <p class="ps-highlight">13. Вашите права</p>
                            <br>
                            <ul>
                                <p>Во согласност со Законот за заштита на личните податоци, како субјекти чии лични
                                    податоци ги
                                    обработуваме, ги имате следниве права:</p>
                                <li>
                                    Да се информирате од ЗЛАТАРА АНИ за начинот на обработка на Вашите личните
                                    податоци и дали истите се користат во согласност со целта заради која се дадени;
                                </li>
                                <li>
                                    Да поднесете барање до ЗЛАТАРА АНИ за исправка на Вашите лични податоци,
                                    пришто ЗЛАТАРА АНИ има обврска да ги исправи податоците во рок од 15 дена од
                                    приемот на барањето, под услови предвидени во Законот за заштита на личните
                                    податоци
                                </li>
                                <li>
                                    Да побарате од ЗЛАТАРА АНИ да ги избрише Вашите лични податоци, при што
                                    ЗЛАТАРА АНИ има обврска да ги избрише Вашите лични податоци во рок од 30
                                    дена од денот на поднесување на барањето за бришење, под услови предвидени во
                                    Законот за заштита на личните податоци
                                </li>
                                <li>
                                    Да поднесете барање до ЗЛАТАРА АНИ со кое што ќе ја повлечете согласноста
                                    дадена за целите на обработка на Вашите лични податоци;
                                </li>
                                <li>
                                    Да поднесете приговор до ЗЛАТАРА АНИ за начинот на обработка на Вашите лични
                                    податоци
                                </li>
                                <li>
                                    Да поднесете барање до ЗЛАТАРА АНИ за да ги добиете Вашите лични податоци во
                                    структуриран и читлив формат (преносливост);
                                </li>
                            </ul>
                            <br>
                            <p>Доколку сакате да остварите некое од горенаведените права, Ве молиме контактирајте не
                                (видете
                                подолу во делот <strong> “Контакт” </strong> ).</p>
                            <br>
                            <p>Исто така, можете да поднесете приговор за нашата обработка на вашите лични податоци до
                                Агенцијата за заштита на лични податоци (повеќе информации во врска со ова можете да
                                најдете
                                на следниот линк: <a href="/za-nas">http://zlataraAni.com.mk/za-nas</a>.</p>
                            <br>
                            <p class="ps-highlight">14. Контакт</p>
                            <br>
                            <p>Вашите прашања, коментари и барања во врска со оваа Политика за приватност и нашата
                                обработка на личните податоци се добредојдени.</p>
                            <br>
                            <p>Доколку имате прашања Ве молиме обратете се на е-пошта на нашиот Офицер за заштита на
                                податоците   </p>
                            <br>
                            <p class="ps-highlight">15. Завршни одредби</p>
                            <br>
                            <p>Сите измени што ќе ги направиме на оваа Политика за приватност ќе бидат објавени на
                                нашата
                                интернет страница <a href="www.zlataraAni.com.mk">(www.zlataraAni.com.mk)</a>  и ќе Ви бидат достапни доколку не контактирате
                                на</p>
                            <br>
                            <p>Е-маил:  </p>
                            <p>Адреса: </p>
                            <p>Телефон: 123456</p>
                            <br>
                            <p class="ps-highlight">16. Промена на политиката на приватност од Контролорот</p>
                            <br>
                            <p>
                                Оваа политика на приватност може да биде изменета во било кое време со објавување на
                                изменетиот текст на Политиката за приватност на нашата интернет страна, како и датумот
                                на
                                ажурирањето, којшто секогаш ќе биде уредно даден над воведниот дел на оваа политика.
                                Измените на политиката за приватност влегуваат во сила веднаш по нивното објавување.
                                Токму
                                поради тоа Ве молиме периодично да ја прегледувате Политиката за приватност и да ги
                                прочитате
                                нејзините евентуални измени. Со продолжување на пристапот и користењето на нашата
                                интернет
                                страна, корисникот се согласува со измените и ги прифаќа одредбите на оваа Политика за
                                приватност.
                            </p>




                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-lg-100 empty-md-70 empty-sm-30 empty-xs-30"></div>
    </section>






</div>

