<style>
    @font-face {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
        src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    }

    .myClass:before {
        font-family: FontAwesome;
        content: "\f024";
    }
</style>
<body class="relative">
<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>
<main class="main-wrapper">
    <div class="content-wrapper oh">
        <!-- Catalogue -->
        <section class="section-wrap pt-80 pb-40 catalogue">
            <div class="container relative">
                <!-- Filter -->
                <div class="shop-filter">
                    <div class="filter-show hidden-xs">
                        <span>Прикажи:</span>
                        <a th:class="${pageSize==12 ? 'productsCount active' : 'productsCount'}" href="#">12</a>
                        <a th:class="${pageSize==24 ? 'productsCount active' : 'productsCount'}" href="#">24</a>
                        <a th:class="${pageSize!=12 && pageSize!=24? 'productsCount active' : 'productsCount'}"
                           href="#">сите</a>
                    </div>
                    <form class="ecommerce-ordering flex flex-row">
                        <select class="sortOption">
                            <option th:selected="${sort==null ? true : sort=='bez-sortiranje'}" value="bez-sortiranje">
                                Најнови прво
                            </option>
                            <option th:selected="${sort!=null && sort=='cena-najvisoka-prvo'}"
                                    value="cena-najvisoka-prvo">Највисока цена прво
                            </option>
                            <option th:selected="${sort!=null && sort=='cena-najniska-prvo'}"
                                    value="cena-najniska-prvo">Најниска цена прво
                            </option>
                        </select>
                    </form>


                </div>
                <input type="hidden" th:value="${maxPrice}" id="maxPrice"/>
                <input type="hidden" th:value="${priceFromTo}" id="priceFromTo"/>
                <input type="hidden" th:value="${page}" id="page"/>
                <input type="hidden" th:value="${pageSize}" id="pageSize"/>
                <input type="hidden" th:value="${totalPages}" id="totalPages"/>
                <div class="row">
                    <aside class="col-md-3 sidebar ">

                        <div class="widget filter-by-price clearfix">
                            <h3 class="widget-title heading uppercase relative bottom-line full-grey">Филтер за
                                цена</h3>

                            <div id="slider-range"
                                 class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all"
                                     style="left: 10.6667%; width: 42.6667%;"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                      style="left: 10.6667%;"></span><span
                                    class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                    style="left: 53.3333%;"></span>
                            </div>
                            <p>
                                <label for="amount">Цена:</label>
                                <input type="text" id="amount">
                                <a href="#" class="btn btn-sm btn-stroke filterPrice"><span>Филтер</span></a>
                            </p>
                        </div>

                        <!-- Color -->
                        <div class="widget filter-by-color">

                        </div>
                    </aside>
                    <div class="col-md-9 catalogue-col  mb-50">
                        <div class="shop-catalogue grid-view">
                            <div class="row">
                                <div th:each="product : ${products}"
                                     class="col-xxs-6 col-xs-4 col-md-3 product">
                                    <div th:if="${product.stocks>0}" class="circle">
                                <span style="font-size:17px;" class="circle__content"
                                      th:text="${'-'+product.discountPercentage+'%'}"></span>
                                    </div>
                                    <div class="product-item clearfix relative">
                                        <!--                                        <a th:href="@{'/admin/products?id={id}'(id=${product.getId()})}"-->
                                        <!--                                           class="btn btn-md btn-dark" type="button" sec:authorize="isAuthenticated()"-->
                                        <!--                                           style="position:absolute;top:0;right:0; z-index: 12"><span>Edit</span>-->
                                        <!--                                        </a>-->
                                        <div class="product-img hover-trigger">
                                            <a th:href="@{'/proizvodi/{id}'(id=${product.getId()})}"
                                               style="position: relative;">
                                                <img onmouseenter="mouseEnter(this)" onmouseleave="mouseLeave(this)"
                                                     th:src="*{product.getInitialPhotoEncoded()}"
                                                     alt=""
                                                     th:class="${product.getHoverPhoto()!=null} ? 'front-image' : ''"/>
                                                <img th:if="${product.getHoverPhoto()!=null}"
                                                     style="position: absolute;top:0;left:0;z-index: -1"
                                                     th:src="*{product.getHoverPhotoEncoded()}"
                                                     alt=""/>
                                            </a>
                                            <div th:if="${product.isNew && product.stocks!=0}" class="product-label">
                                                <span class="sale">НОВО</span>
                                            </div>
                                            <div th:if="${product.stocks<=0}" class="product-label">
                                                <span class="out-of-stock">НЕМА НА ЗАЛИХА</span>
                                            </div>
                                            <!--                                            <div class="hover-2">-->
                                            <!--                                                <div class="product-actions">-->
                                            <!--                                                    <a href="#" class="product-add-to-wishlist">-->
                                            <!--                                                        <i class="fa fa-heart"></i>-->
                                            <!--                                                    </a>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                            <a th:href="@{'/products/{id}'(id=${product.getId()})}"
                                               class="product-quickview">Приказ</a>
                                        </div>
                                        <div class="product-details">
                                            <h3 class="product-title">
                                                <a th:text="${product.getName()}" href="shop-single.html">Mantle Brown
                                                    Bag</a>
                                            </h3>


                                        </div>

                                        <span class="price">
                                            <del th:if="${product.isOnDiscount}">
                                                <span th:text="${product.getPriceAsNumber() +' ден'}"></span>
                                            </del>
                                            <ins>
                      <span th:text="${(product.isOnDiscount ? product.calculateDiscountPrice(): product.getPriceAsNumber())+' ден'}"
                            class="amount" style="font-size: 16px">$150.00</span>
                    </ins>
                                            <ins>

                                                                 <del style="color:white;" th:if="${!product.isOnDiscount}">
                                                <span style="color:white !important;">_</span>
                                            </del>
                  </ins>
                                        </span>
                                    </div>
                                </div>
                                <!-- end product -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end grid mode -->
                        <!-- Pagination -->
                        <div class="pagination-wrap clearfix">
                            <nav class="pagination right clearfix">
                                <a id="beforePage" href="#"><i class="fa fa-angle-left"></i></a>

                                <!--                        <span class="page-numbers current">1</span>-->
                                <a href="#" th:style="'background-color:'+${pageNumber==page+1 ? '#ceaf71' : ''}"
                                   class="pageNumber"
                                   th:each="pageNumber : ${pageNumbers}" th:text="${pageNumber}"></a>

                                <a id="afterPage" href="#"><i class="fa fa-angle-right"></i></a>
                            </nav>
                        </div>

                    </div>
                    <!-- end col -->


                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end catalog -->
    </div>
    <!-- end content wrapper -->
</main>
<!-- end main wrapper -->
<!-- jQuery Scripts -->
<script>
    $(document).ready(function () {
        $('#beforePage').on('click', function () {
            if ($('#page').val() != 0) {
                $('#page').val($('#page').val() - 1)
                window.location.href = urlMaker()
            }

        })
        $('#afterPage').on('click', function () {
            console.log($('#page').val() + ' ' + $('#totalPages').val())
            if (parseInt($('#page').val()) + 1 != $('#totalPages').val()) {
                $('#page').val(parseInt($('#page').val()) + 1)
                window.location.href = urlMaker()
            }
        })

        $(function () {
            let priceFromTo = $('#priceFromTo').val().toString().replaceAll(" ", "")
            let maxPrice = $('#maxPrice').val()
            let max = priceFromTo.split('-')[1]
            let min = priceFromTo.split('-')[0]
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: maxPrice,
                values: [min, max],
                slide: function (event, ui) {
                    $("#amount").val(+ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount").val(+$("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1));
        });


        function urlMaker() {
            let url = '?'
            let sortOption = $('.sortOption').val()
            let priceFilter = $('#amount').val()
            if (sortOption !== 'bez-sortiranje') {
                url += "sortiranje=" + sortOption + "&"
            }
            url += "cenaOdDo=" + priceFilter.replaceAll(" ", "") + "&"
            let page = $('#page').val()
            if (page != "0") {
                url += "strana=" + $('#page').val() + "&"
            }
            let pageSize = $('#pageSize').val()
            url += "produktiPoStrana=" + pageSize + "&"
            return url;
        }

        $('.productsCount').on('click', function () {
            if ($(this).text() == 'сите') {
                $('#pageSize').val(99)
            } else {
                $('#pageSize').val($(this).text())
            }
            window.location.href = urlMaker()
        })

        $('.filterPrice').on('click', function () {
            window.location.href = urlMaker()
        })
        $('.sortOption').on('change', function () {
            window.location.href = urlMaker()
        })
        $('.pageNumber').on('click', function () {
            $('#page').val($(this).text() - 1)
            window.location.href = urlMaker()
        })
    });
</script>
<script>
    $(document).ready(function () {
        $('#beforePage').on('click', function () {
            if ($('#page').val() != 0) {
                $('#page').val($('#page').val() - 1)
                window.location.href = urlMaker()
            }

        })
        $('#afterPage').on('click', function () {
            console.log($('#page').val() + ' ' + $('#totalPages').val())
            if (parseInt($('#page').val()) + 1 != $('#totalPages').val()) {
                $('#page').val(parseInt($('#page').val()) + 1)
                window.location.href = urlMaker()
            }
        })

        $(function () {
            let priceFromTo = $('#priceFromTo').val().toString().replaceAll(" ", "")
            let maxPrice = $('#maxPrice').val()
            let max = priceFromTo.split('-')[1]
            let min = priceFromTo.split('-')[0]
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: maxPrice,
                values: [min, max],
                slide: function (event, ui) {
                    $("#amount").val(+ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount").val(+$("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1));
        });


        function urlMaker() {
            let url = '?'
            let sortOption = $('.sortOption').val()
            let priceFilter = $('#amount').val()
            if (sortOption !== 'bez-sortiranje') {
                url += "sortiranje=" + sortOption + "&"
            }
            url += "cenaOdDo=" + priceFilter.replaceAll(" ", "") + "&"
            let page = $('#page').val()
            if (page != "0") {
                url += "strana=" + $('#page').val() + "&"
            }
            let pageSize = $('#pageSize').val()
            if (pageSize != "2") {
                url += "produktiPoStrana=" + pageSize + "&"
            }
            return url;
        }

        $('.productsCount').on('click', function () {
            if ($(this).text() == 'сите') {
                $('#pageSize').val(99)
            } else {
                $('#pageSize').val($(this).text())
            }
            window.location.href = urlMaker()
        })

        $('.filterPrice').on('click', function () {
            window.location.href = urlMaker()
        })
        $('.sortOption').on('change', function () {
            window.location.href = urlMaker()
        })
        $('.pageNumber').on('click', function () {
            $('#page').val($(this).text() - 1)
            window.location.href = urlMaker()
        })
    });
</script>
</body>
</html>