<!DOCTYPE html>
<html lang="en">

<style>
    @font-face {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
        src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
        url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    }

    .myClass:before {
        font-family: FontAwesome;
        content: "\f024";
    }
</style>


<div class="content-wrapper oh">

    <!-- Cart -->
    <section class="section-wrap shopping-cart">
        <div class="container relative">
            <div class="row">

                <div class="col-md-12">
                    <div class="table-wrap mb-30">
                        <h6 style="border-bottom:1px solid lightgray;padding:20px;" class="text-danger"
                            th:if="${productsInCart.size()==0}">Вашата кошничка е празна</h6>
                        <table th:if="${productsInCart.size() != 0}" class="shop_table cart table">
                            <thead>
                            <tr style="color:black">
                                <th class="product-name" colspan="2">Производ</th>
                                <th class="product-price">Цена</th>
                                <th class="product-quantity">Количина</th>
                                <th class="product-subtotal" colspan="2">Вкупно</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="productInOrder : ${productsInCart}" class="cart_item">
                                <td class="product-thumbnail">
                                    <a th:href="@{'/proizvodi/{id}'(id=${productInOrder.product.id})}">
                                        <img th:src="*{productInOrder.product.getInitialPhotoEncoded()}" alt="">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <input type="hidden" th:value="${productInOrder.product.id}" name="productId">
                                    <a th:text="${productInOrder.product.getName()}" href="#"></a>
                                    <ul>
                                        <li th:text="${productInOrder.product.getCode()}"></li>
                                    </ul>
                                </td>
                                <td class="product-price">
                                    <span th:text="${productInOrder.product.calculateDiscountPrice()+' ден'}"
                                          class="amount"></span>
                                </td>
                                <td class="product-quantity">
                                    <div class="quantity buttons_added">
                                        <input th:value="${productInOrder.quantity}" type="number" step="1" min="1"
                                               th:max="${productInOrder.product.getStocks()}" title="Qty"
                                               class="input-text qty text" name="quantity">
                                        <div class="quantity-adjust">
                                            <a href="#" class="plus">
                                                <i class="fa fa-angle-up"></i>
                                            </a>
                                            <a href="#" class="minus">
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <span th:text="${productInOrder.product.calculateDiscountPrice(productInOrder.quantity)+' ден'}"
                                          class="amount"></span>
                                </td>
                                <td class="product-remove">
                                    <form method="post" th:action="@{'/orderCart/delete/{id}'(id=${productInOrder.product.getId()})}">
                                        <button  class="remove-button ui-close"
                                                 type="submit" style="background: none; border: none; padding: 0;"><i
                                        ></i></button>
                                    </form>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="row mb-50">
                        <div class="col-md-5 col-sm-12">
                            <!--                  <div class="coupon">-->
                            <!--                    <input type="text" name="coupon_code" id="coupon_code" class="input-text form-control" value placeholder="Coupon code">-->
                            <!--                    <input type="submit" name="apply_coupon" class="btn btn-lg btn-stroke" value="Apply">-->
                            <!--                  </div>-->
                        </div>

                        <div class="col-md-7">
                            <div class="actions">
                                <a type="submit"
                                   class="btn btn-lg btn-stroke"
                                   id="updateCart"
                                >
                                    <span>Ажурирај кошничка</span>
                                </a>
                                <div class="wc-proceed-to-checkout">
                                    <a href="/orderCart/shop-checkout" class="btn btn-lg btn-dark"><span>Продолжи кон наплата</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- end col -->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-md-6 shipping-calculator-form">
                    <h2 class="heading relative uppercase bottom-line full-grey mb-30">Достава</h2>
                    <p style="color:black; font-size:16px;">За вкупна цена поголема од 1000 денари доставата е <b>бесплатна</b>,
                        во спротивно истата изнесува 130 денари и важи за сите населени места во Македонија.</p>

                </div> <!-- end col shipping calculator -->

                <div class="col-md-6">
                    <div class="cart_totals">
                        <h2 class="heading relative bottom-line full-grey uppercase mb-30">Вкупно за плаќање</h2>

                        <table class="table shop_table">
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>Вкупно цена на продуктите</th>
                                <td>
                                    <span id="totalPrice" class="amount" th:text="${totalPrice+' ден'}"></span>
                                </td>
                            </tr>
                            <tr class="shipping">
                                <th>Достава</th>
                                <td>
                                    <span id="totalPriceCargo" th:text="${totalPrice>=1000 ? 'Бесплатна достава' : '130 ден'}"></span>
                                </td>
                            </tr>
                            <tr class="order-total">
                                <th>Вкупно</th>
                                <td>
                                    <strong><span id="totalPriceFinal" class="amount"
                                                  th:text="${totalPrice+(totalPrice<1000 ? 130 : 0)+' ден'}"></span></strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div> <!-- end col cart totals -->

            </div> <!-- end row -->


        </div> <!-- end container -->
    </section> <!-- end cart -->

</div> <!-- end content wrapper -->
</main> <!-- end main wrapper -->
<script>


    $(document).ready(function(){
        $('#totalPrice').text($('#totalPrice').text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(',','.'))
        $('#totalPriceCargo').text($('#totalPriceCargo').text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(',','.'))
        $('#totalPriceFinal').text($('#totalPriceFinal').text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(',','.'))
    })



    function onClick(event) {
        var productIds = $('input[name^=productId]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        var quantity = $('input[name^=quantity]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        console.log(productIds)
        console.log(quantity)

        $.ajax({
            type: "post",
            url: "/api/orderCart/update",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                productIds: productIds,
                productQuantities: quantity
            }),
            success: function () {
                location.reload();
            }
        })

        event.preventDefault();
    }

    $(function () {
        $('#updateCart').click(onClick);
    });
</script>
</html>