<!DOCTYPE html>
<html lang="en">

<style>
  @font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }

  .myClass:before {
    font-family: FontAwesome;
    content: "\f024";
  }
</style>
<body class="relative">



<main class="main-wrapper">
  <div class="content-wrapper oh">

    <!-- Checkout -->
    <section class="section-wrap checkout pb-70">
      <div class="container relative">
        <div class="row">
          <div class="ecommerce col-xs-12">
            <form th:method="POST" th:action="@{/orders}">

              <div class="col-md-8" id="customer_details">
                <div>
                  <h2 class="heading uppercase bottom-line full-grey mb-30">адреса за наплата</h2>

                  <p class="form-row form-row-wide address-field update_totals_on_change validate-required ecommerce-validated" id="billing_country_field">

                  <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_first_name_field">
                    <label for="billing_first_name">Име
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder="Име" value name="clientName" id="billing_first_name">
                  </p>

                  <p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_last_name_field">
                    <label for="billing_last_name">Презиме
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder="Презиме" value name="clientSurname" id="billing_last_name">
                  </p>

                  <p class="form-row form-row-wide address-field validate-required" id="billing_city_field" data-o_class="form-row form-row-wide address-field validate-required">
                    <label for="billing_city">Град
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder="Град" value name="city" id="billing_city">
                  </p>

                  <p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_address_1_field">
                    <label for="billing_address_1">Адреса
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder="Адреса на живеење" value name="street" id="billing_address_1">
                  </p>

                  <p class="form-row form-row-last address-field validate-required validate-postcode ecommerce-invalid ecommerce-invalid-required-field" id="billing_postcode_field" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                    <label for="billing_postcode">Поштенски код
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder="Поштенски код" value name="postalCode" id="billing_postcode">
                  </p>

                  <p class="form-row form-row-first validate-required validate-email" id="billing_email_field">
                    <label for="billing_email">Е-меил
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder="Е-маил" value name="email" id="billing_email">
                  </p>

                  <p class="form-row form-row-last validate-required validate-phone" id="billing_phone_field">
                    <label for="billing_phone">Телефон
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder="Телефон" value name="mobileNumber" id="billing_phone">
                  </p>

                  <div class="clear"></div>

                </div>


              </div> <!-- end col -->

              <!-- Your Order -->
              <div class="col-md-4">
                <div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
                  <h2 class="heading uppercase bottom-line full-grey">Вашата нарачка</h2>
                  <table class="table shop_table ecommerce-checkout-review-order-table">
                    <tbody>
                    <tr th:each="productInCart : ${productsInCart}">
                      <th th:text="${productInCart.product.getName()}"><span class="count" ></span></th>
                      <td>
                        <span class="amount" th:text="${productInCart.getQuantity()+' x '+productInCart.product.calculateDiscountPrice()+' ден'}"></span>
                      </td>
                    </tr>
                    <tr class="order-total">
                      <th><strong>Вкупно</strong></th>
                      <td>
                        <strong><span class="amount" th:text="${totalPrice+(totalPrice<1000 ? 130 : 0)+' ден'}"></span></strong>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <div id="payment" class="ecommerce-checkout-payment">
                    <h2 class="heading uppercase bottom-line full-grey">Метод на плаќање</h2>
                    <ul class="payment_methods methods">

                      <li class="payment_method_bacs">
                        <input id="payment_method_bacs" type="radio" class="input-radio" name="orderType" value="CARGO" checked="checked">
                        <label for="payment_method_bacs">Плаќање во готово при достава</label>
                        <div class="payment_box payment_method_bacs">
                          <p>Претпочиташ плаќање во кеш? Плати му на курирот при самата достава.</p>
                        </div>
                      </li>

                      <li class="payment_method_cheque">
                        <input id="payment_method_cheque" type="radio" class="input-radio" name="orderType" value="ONLINE" disabled>
                        <label for="payment_method_cheque">Плаќање со картичка</label>
                        <br>
                        <p style="color: red;padding-left: 27px;">Во изработка</p>
                        <div class="payment_box payment_method_bacs">
                          <p>Плати лесно и едноставно преку cPay</p>
                        </div>
                      </li>

<!--                      <li class="payment_method_paypal">-->
<!--                        <input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method" value="paypal">-->
<!--                        <label for="payment_method_paypal">Paypal</label>-->
<!--                        <img src="img/shop/paypal.png" alt="">-->
<!--                        <div class="payment_box payment_method_paypal">-->
<!--                          <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>-->
<!--                        </div>-->
<!--                      </li>-->

                    </ul>
                    <div class="form-row place-order">
                      <input type="submit" name="ecommerce_checkout_place_order" class="btn btn-lg btn-dark" id="place_order" value="Нарачај">
                    </div>
                  </div>
                </div>
              </div> <!-- end order review -->
            </form>

          </div> <!-- end ecommerce -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end checkout -->

  </div> <!-- end content wrapper -->
</main> <!-- end main wrapper -->
<!-- jQuery Scripts -->
</body>
</html>